<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>{{vm.dateLabel}} Reading</span>
      </h2>
      <span flex></span>
      <img src="assets/images/favicon-respres.png" />
    </div>
  </md-toolbar>
  <md-card ng-repeat="r in vm.reading">
    <md-card-header>
      <md-card-header-pre>
        <h3>{{r.name}}</h3>
      </md-card-header-pre>
      <md-card-header-text>
        <span class="md-title">{{r.verses}}</span>
      </md-card-header-text>
    </md-card-header>
  </md-card>
</md-content>
<md-fab-speed-dial ng-hide="vm.hidden" md-direction="up" md-open="vm.isOpen" class="md-scale md-fab-bottom-right">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab">
      <md-icon class="material-icons step">more_vert</md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <div ng-repeat="item in vm.actions">
      <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini" ng-click="vm.changePlan(item.key)">
        <md-tooltip md-direction="left" md-autohide="false">
          {{item.name}}
        </md-tooltip>
        {{item.key}}
      </md-button>
    </div>
  </md-fab-actions>
</md-fab-speed-dial>
