<md-content class="main">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div layout="row" layout-align="left center" flex>
        <a href="#" ng-click="vm.previousDay()">
          <md-icon class="material-icons">navigate_before</md-icon>
        </a>
        <span flex></span>
        <span>
          <a href="#" ng-click="vm.today()">
            <span class="logo">R</span>ead Daily - {{vm.dateLabel}}
          </a>
        </span>
        <span flex></span>
        <a href="#" ng-click="vm.nextDay()">
          <md-icon class="material-icons">navigate_next</md-icon>
        </a>
      </div>
    </div>
  </md-toolbar>
  <md-card ng-repeat="r in vm.reading" ng-if="vm.reading.length">
    <md-card-header>
      <md-card-header-pre>
        <h3>{{r.name}}</h3>
      </md-card-header-pre>
      <md-card-header-text>
        <span class="md-title">{{r.verses}}</span>
      </md-card-header-text>
      <md-card-header-action>
        <md-button ng-click="vm.loadScripture(r.verses)">
          <md-icon class="material-icons">library_books</md-icon>
        </md-button>
      </md-card-header-action>
    </md-card-header>
  </md-card>
  <md-card ng-if="!vm.reading.length">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title center">No readings today</span>
      </md-card-header-text>
    </md-card-header>
  </md-card>
</md-content>
<md-toolbar class="md-bottom-sticky" ng-click="vm.showAbout($event)">
  <div layout="row" layout-align="left center" flex>
    <span>{{vm.selectedPlanTypeLabel}}</span>
    <span flex></span>
    <md-button class="md-raised logo">R</md-button>
    <span flex></span>
    <span>{{vm.selectedPlanTimeframeLabel}}</span>
  </div>
</md-toolbar>
